$header-text-font: 'Roboto', sans-serif;
$main-text-font: 'Ramaraja', serif;
@import 'reset';
@import 'header';
@import 'fonts';
@import 'main';




.wrapper {
    width: 100%;
    // max-width: 1450px;
    margin: 0 auto;
}