$main-text-font: 'Tiro Tamil', serif;

html {
    scroll-behavior: smooth;
    margin: 0;
;}

@import 'reset';
@import 'fonts';
@import 'header';
@import 'main';
@import 'fonts';
@import 'footer';
@import 'media';
@import 'modal';
@import 'topScrol';
@import 'parallax';