body {
    padding: 20px;
}

.wrapper {
    margin: 0 auto;
    border: 1px solid rgb(54, 139, 54);
}

.header {
    padding: 8px;
    background-color: rgb(131, 212, 131);
}

.container {
    display: flex;
    font-weight: bold;
}

.scrol {
    margin-left: 40px;
}

.scrol select {
    background-color: rgb(131, 212, 131);
    border: 0;
    overflow: -moz-hidden-unscrollable;
}

/* .scrol select::after {
    content: "0";
    color: black;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
} */

/* ----------------- */
.main {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.main-left {
    width: 45%;
}

.main-right {
    width: 45%;
}

.main-left input {
    width: 45%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-item.red-star label::after {
    content: "*";
    color: red;
}

.form-item select {
    margin: 0;
    padding: 0;
    width: 45%;
}

textarea {
    height: 100px;
    resize: none;
    width: 45%;
}

.web {
    width: 45%;
    padding-left: 0;
}

.web input {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 60%;
}

.web-form {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.web label {
    padding: 0;
}

.time {
    padding-right: 30%;
}

.way {
    padding-right: 30%;
    margin-right: 25px;
}

/* ----------------- */
.footer {
    display: flex;
    background-color: rgb(175, 170, 170);
}

.but {
    margin: 5px auto
}

.but input {
    background-color: rgb(131, 212, 131);
    border: 1px solid rgb(54, 139, 54);
    color: #fff;
}

.but input {
    width: 80px;
    height: 20px;
}