body {
    padding: 20px;
}

.wrapper {
    margin: 0 auto;
    border: 1px solid rgb(54, 139, 54);
}

.header {
    padding: 8px;
    background-color: rgb(131, 212, 131);
}

.container {
    display: flex;
    font-weight: bold;
}

.scrol {
    margin-left: 40px;
    position: relative;

}

  .scrol:after {
    content: '▲';
    color: #000;
    transform: rotate(180deg);
    
    position: absolute;
  }
  
  .scrol select {
    appearance: none;
  }

.scrol select {
    background-color: rgb(131, 212, 131);
    border: 0;
}

/* ----------------- */
.main {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: none;
}

.main-left {
    width: 45%;
}

.main-right {
    width: 45%;
}

.main-left input {
    width: 45%;
}

.form-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: bold;
}

.form-item.red-star label:after {
    content: "*";
    color: red;
}

.form-item select {
    margin: 0;
    padding: 0;
    width: 45%;
}

textarea {
    height: 100px;
    resize: none;
    width: 45%;
}

.form-select {
    position: relative;
  }
  
  .form-select:after {
    content: '▲';
    transform: rotate(180deg);
    background: #0ebeff;
    color: #333;
    margin-top: 1px;
    right: 0;
    position: absolute;
  }
  
  .form-select select {
    appearance: none;
  }

.short input:after {
    padding-right: 150px;
}

.web {
    width: 45%;
    padding-left: 0;
}

.web input {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    width: 60%;
}

.web-form {
    display: flex;
    justify-content: space-between;
    padding: 4px;
}

.web label {
    padding: 0;
}

.time {
    width: 45%;
}

.way {
    width: 45%;
}

/* ----------------- */
.footer {
    display: flex;
    background-color: rgb(175, 170, 170);
}

.but {
    margin: 5px auto
}

.but input {
    background-color: rgb(131, 212, 131);
    border: 1px solid rgb(54, 139, 54);
    color: #fff;
}

.but input {
    width: 80px;
    height: 20px;
}