.body {
  width: 100%;
  background: #2b2b2b;
  font-family: "Red Hat Text", sans-serif;
}
.wrapper {
  width: 100%;
  width: 1440px;
  margin: 0 auto;
  background: #2b2b2b;
}

/* header
========================================= */

.header {
  width: 1131px;
  height: 120px;
  margin: 0 auto;
}

.content {
  display: flex;
  align-items: center;
}

.content a {
  text-decoration: none;
}

.menu-link a {
  color: #bfbfbf;
}

.logo {
  width: 46px;
  height: 120px;
}

.menu-link {
  font-size: 48px;
  color: #bfbfbf;
  letter-spacing: -0.07em;
}

li.menu-link {
  padding-left: 84px;
}

.header-menu a {
  padding-left: 84px;
  letter-spacing: -0.07em;
  font-size: 48px;
  color: white;
}

.button {
  height: 71px;
  width: 227px;
  border: 1px solid #f5f5f7;
  border-radius: 46px;
  letter-spacing: -0.07em;
  font-size: 36px;
  background: #2b2b2b;
  color: #bfbfbf;
}

.button a {
  color: #bfbfbf;
}

.button a:hover {
  color: white;
  transition: 1s;
}

.button-form {
  padding-left: 127px;
}

/* main
========================================= */

.main {
  width: 100%;
  width: 1440px;
  height: 1551px;
  background: #333333;
  margin: 0 auto;
}

.main-content {
  width: 786px;
  height: 898px;
  padding: 196px 336px 40px 318px;
}

.main-text {
  color: rgba(229, 229, 229, 1);
  font-size: 96px;
  padding-left: 171px;
}

.main-img {
  width: 402px;
  height: 757px;
}

.info {
  width: 226px;
  height: 308px;
  float: right;
  padding-top: 235px;
}

.info-ul {
  font-size: 48px;
  letter-spacing: -0.07em;
  color: #5c97b1;
  line-height: 56px;
  font-family: "Roboto", sans-serif;
}

.information li {
  margin-bottom: 28px;
}

.line {
  border: 1px solid #E5E5E5;
  width: 1274px;
  margin-left: 83px;
}

/* footer
========================================= */

.footer {
  height: 414px;
}

.footer-conteiner {
  margin: 37px auto 62px auto;
  width: 731px;
  height: 315px;
  display: flex;
  justify-content: space-between;
}

.column li:not(.footer-text) {
  margin-bottom: 10px;
  font-size: 24px;
}

.column a {
  text-decoration: none;
  color: #4b6571;
}

.column a:hover {
  color: rgba(134, 182, 204, 1);
  transition: 0.7s;
}

.footer-text {
  margin-bottom: 41px;
}

.footer-text a {
  font-size: 24px;
  color: #cacaca;
}
